button {
    padding: .75em 1.5em;
    border-radius: .75em;
    border: none;
    background: var(--lazy-color-secondary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
}

button:hover:not(:disabled) {
    opacity: .5;
    transition: .2s;
}

button:active:not(:disabled) {
    opacity: 1;
    transition: none;
}

button:disabled {
    cursor: not-allowed;
    opacity: .4;
}
