input,
textarea {
    padding: .75em .75em;
    border-radius: .5em;
    border: 2px solid var(--lazy-color-primary);
    background: transparent;
}

input:focus,
textarea:focus {
    outline: 3px solid var(--lazy-color-secondary);
}
